* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --text-color: #121212;
    --main-font: 2.2rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: var(--bg-color);
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%;
    transition: .3s;
}

.logo {
    color: var(--text-color);
    font-size: var(--main-font);
    font-weight: 600;
    line-height: 0.8;
}

.f-letter {
    color: #F7002B;
}

.s-letter {
    color: #009ADC;
}

#menu-icon {
    font-size: 38px;
    color: var(--text-color);
    z-index: 10001;
    display: none;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 15px;
    margin: 0 10px;
    transition: all .40s ease;
}

.navbar a:hover {
    background: var(--text-color);
    color: #fff;
}

.icons {
    display: flex;
    align-items: center;
}

.icons i {
    color: var(--text-color);
    font-size: 24px;
    margin-left: 15px;
}

.icons i:hover {
    opacity: 0.7;
}

section {
    padding: 100px 8%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    cursor: pointer;
    padding-top: 2rem;
}

.box {
    padding: 0px 20px 10px 20px;
    background: transparent;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
    border-radius: 10px;
    position: relative;
    transition: all .35s ease;
}

.box img {
    width: 100%;
    height: auto;
}

.box h4 {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.box h5 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.box .cart i {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: var(--text-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.box:hover {
    transform: translateY(-5px);
}

.about {
    background-color: #f7f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-content {
    text-align: left;
    background-color: rgba(224, 222, 222, 0.3);
    padding: 40px;
    border-radius: 10px;
}

.about-content h2 {
    font-size: var(--main-font);
    margin-bottom: 30px;
}

.about-content {
    max-width: 80%;
    font-size: var(--p-font);
    font-weight: 600;
    color: var(--text-color);
    line-height: 30px;
}

.contact {
    padding: 80px 17%;
    background: var(--text-color);
}

.main-contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
    margin-bottom: 3rem;
}

.contact-content li {
    margin-bottom: 15px;
}

.contact-content li a {
    display: block;
    color: var(--bg-color);
    font: var(--p-font);
    font-weight: 600;
    transition: all .40s ease;
}

.contact-content li a:hover {
    transform: translateX(-10px);
}

.action form {
    text-align: center;
}

.action form input[type="email"] {
    width: 460px;
    max-width: 100%;
    padding: 12px 15px;
    background: #515151;
    color: var(--bg-color);
    border: none;
    outline: none;
    margin: 0px 10x 20px 0px;
    font-size: 16px;
    font-weight: 600;
}

.action form input[type="submit"] {
    padding: 10px 35px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0px 10x 20px 0px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.last {
    text-align: center;
    padding: 17px;
    background-color: #757575;
}

.last p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

@media (max-width: 800px) {
    #menu-icon {
        display: block;
    }

    header {
        padding: 15px 8%;
    }

    .navbar {
        top: -500px;
        left: 0;
        right: 0;
        position: absolute;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
        transition: all .40s ease;
    }

    .navbar a {
        display: block;
        padding: 1rem;
        margin: 0.5rem;
    }

    .navbar.active {
        top: 100%;
    }
}

#search-card {
    display: none;
    align-items: center;
    position: relative;
    transition: opacity .2s ease-out;
}

.highlight {
    border: 2px solid #f00;
}

/* Estilo para o modal */
.modal {
    display: none; /* Oculta por padrão */
    position: fixed; /* Fica posicionado fixamente na tela */
    z-index: 1; /* Coloca o modal sobre tudo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Adiciona rolagem caso o conteúdo seja maior que a tela */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo escura com transparência */
}

/* Estilo para o conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Estilo para o botão de fechar (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos para a aba do carrinho */
.cart-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto; /* Adicionado para rolagem quando a altura da aba exceder a tela */
}

.cart-sidebar.active {
    right: 0;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3190f7; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
}

.cart-header h3 {
    margin: 0;
    font-size: 24px;
}

/* Estilização dos botões no cabeçalho */
.cart-header button {
    font-size: 20px;
    color: #3190f7; /* Cor azul para os ícones */
    background-color: transparent; /* Remove o fundo */
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.cart-header button:hover {
    color: #0056b3; /* Cor azul mais escura ao passar o mouse */
}

.cart-items {
    padding: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-item-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.cart-item-price {
    font-size: 16px;
    color: #555;
    margin: 0;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0; /* Cor de fundo cinza claro */
    border-top: 1px solid #ccc;
}

/* Estilização dos botões no rodapé */
.cart-footer button {
    font-size: 18px;
    font-weight: bold; /* Texto em negrito */
    color: #fff; /* Cor branca para o texto */
    background-color: #3190f7; /* Cor azul para o fundo */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* Espaçamento entre os botões */
}

.cart-footer button:hover {
    background-color: #0056b3; /* Cor azul mais escura ao passar o mouse */
}
